* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-toggle {
  display: block;
  padding: 2.3em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.1rem;
  z-index: 1000;
  outline: none;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background-color: #111;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
  background-color: #111;
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
  background-color: #111;
}

.nav-open .hamburger::after {
  opacity: 0;
}
